<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
      <p>Enter your phrase:</p>
      <form method = "post" action = "/piglatinize">
        <input type = "text" name = "user_phrase">
        <input type = "submit" id = "submit">
      </form>
  </body>
</html>